@use 'src/styles/vars';

.header{
  background-color: vars.$color-main;
  color: vars.$color-light;
  text-align: center;
  padding: vars.$gutter * 3;
  border-radius: 1*vars.$gutter 1*vars.$gutter 0 0;

  &__title{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: vars.$gutter;
  }

  &__text{
    font-size: 1.3rem;
    display : inline;
  }
}
